*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header
{   
    color: white;
    background-image: url('images/banner2.jpg');
}
.header-top
{   
    padding-top: 10px;
    display:grid;
    grid-template-areas:'. logo  . . . . . auth';
}

.logo
{
    grid-area: logo;

}
.auth-section
{
    grid-area: auth;
    padding-left: 80px;
}

a

{
    background-color: #dc3545;
    border-radius: 4px;
    text-decoration: none;
    border: 3px solid #dc3545;
}
.slider-section
{
    margin-top: 100px;
}
.nav-menu
{
  /* background-color: blueviolet; */
  width: 17%;
  margin-top: 20px;
  
}

.nav-menu-area
{
    padding-left: 0;
}
.list
{   
    list-style-type: none;
    color: white;
    text-align: center;
    font-size: small;
    font-style: italic;
    border-radius: 4px;
}
.list:hover
{
    background-color: #dc3545;

}
.active
{   
    color: white;
    background-color: #dc3545;
    /* margin-bottom: 4px; */
}
.header-game
{  
    margin-left: 22%;
    width: 20vw;
}
.download
{
    background-color: blanchedalmond;
    width: 100px;
    border-radius: 3px;
}
.banner
{
    position: absolute;
    top:10vw;
    left: 40vw;
}